
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

/* This adds some hover effects over the button */

#content button:hover {
    background: navy;
}


/* This styles the aside container */

#aSide {
    height: 800px;
    width: 800px;
    position: absolute;
    top: calc(20% - 250px);
    right: 7%;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 800px;
    width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
#aSid {
    height: 800px;
    width: 800px;
    position: absolute;
    top: calc(12% - 250px);
    right: 7%;
}


/* This styles the 3D object inserted in the aside container */

#aSid model-viewer {
    height: 800px;
    width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#444;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

}
